<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherLiveWallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WeatherLiveWallpaper.Properties.Settings>
            <setting name="UserCity" serializeAs="String">
                <value>Oruro,BO</value>
            </setting>
            <setting name="UserVideoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserApiKey" serializeAs="String">
                <value>9557d5e507e5cc015952f644f6e70d23</value>
            </setting>
            <setting name="VideoLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="TemperatureUnit" serializeAs="String">
                <value>Metric</value>
            </setting>
            <setting name="UserThemePath" serializeAs="String">
                <value />
            </setting>
        </WeatherLiveWallpaper.Properties.Settings>
    </userSettings>
</configuration>